<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.scalaide.play2.template.processing">
      <template-processor
            class="org.scalaide.play2.templates23.TemplateProcessing">
         <version supports="2.3"/>
         <version supports="2.2"/>
      </template-processor>
   </extension>

</plugin>
