<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.scalaide.play2.routeeditor.RouteEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            filenames="routes,*.routes"
            icon="icons/routes.png"
            id="org.scalaide.play2.routeeditor.RouteEditor"
            name="Route Editor">
      </editor>
      <editor
            class="org.scalaide.play2.templateeditor.sse.TemplateStructuredEditor"
            contributorClass="org.scalaide.play2.templateeditor.sse.TemplateActionContributor"
            default="false"
            icon="icons/newtemplate.png"
            id="org.scalaide.play2.templateeditor.sse.TemplateStructuredEditor"
            name="New Template Editor">
         <contentTypeBinding
               contentTypeId="org.scalaide.play2.templateSource" />
         <contentTypeBinding
               contentTypeId="org.eclipse.wst.html.core.htmlsource">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.scalaide.play2.templateeditor.TemplateEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            icon="icons/play.png"
            id="org.scalaide.play2.templateeditor.TemplateEditor"
            name="Template Editor">
         <contentTypeBinding
               contentTypeId="org.scalaide.play2.templateSource" />
      </editor>
   </extension>
   <!-- Structured Template Editor configuration -->
   <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
      <sourceViewerConfiguration
        class="org.scalaide.play2.templateeditor.sse.TemplateStructuredTextViewerConfiguration"
        target="org.scalaide.play2.templateSource" />
      <documentationTextHover
          class="org.scalaide.play2.templateeditor.sse.hover.TemplateScalaTextHoverProcessor"
          target="__template_scala" />
      <documentationTextHover
          class="org.eclipse.wst.html.ui.internal.taginfo.HTMLTagInfoHoverProcessor"
          target="org.eclipse.wst.html.HTML_DEFAULT" />
      <contentOutlineConfiguration
          class="org.eclipse.wst.html.ui.views.contentoutline.HTMLContentOutlineConfiguration"
          target="org.scalaide.play2.templateSource" />
      <quickOutlineConfiguration
          class="org.eclipse.wst.xml.ui.internal.quickoutline.XMLQuickOutlineConfiguration"
          target="org.scalaide.play2.templateSource"/>
      <provisionalConfiguration
          type="foldingstrategy"
          class="org.eclipse.wst.xml.ui.internal.projection.XMLFoldingStrategy"
          target="org.scalaide.play2.templateSource" />
      <provisionalDefinition
          type="spellingregions"
          value="XML_COMMENT_TEXT, XML_CONTENT, Template Comment"
          target="org.scalaide.play2.templateSource" />
   </extension>
   <!-- Structured Template Editor Model Handler -->
   <extension point="org.eclipse.wst.sse.core.modelHandler">
      <modelHandler
        class="org.scalaide.play2.templateeditor.sse.model.TemplateModelHandler"
        associatedContentTypeId="org.scalaide.play2.templateSource"
        id="org.scalaide.play2.templateModelHandler">
      </modelHandler>
   </extension>
   <!-- Structured Template Editor Document Factory -->
   <extension
     point="org.eclipse.core.filebuffers.documentCreation"
     id="org.scalaide.play2.templateeditor.documentfactories"
     name="%Structured_PlayTemplate_Document_Factory_Extension.name">
     <factory
       contentTypeId="org.scalaide.play2.templateSource"
       class="org.eclipse.wst.sse.core.internal.filebuffers.BasicStructuredDocumentFactory" />
  </extension>
  <!-- Structured Template Editor Adapter Factory -->
  <extension
    point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
    <adapterFactoryDescription
      class="org.scalaide.play2.templateeditor.sse.model.TemplateAdapterFactoryProvider">
      <contentType id="org.scalaide.play2.templateSource" />
    </adapterFactoryDescription>
  </extension>
  <!-- Template source validation -->
  <extension point="org.eclipse.wst.sse.ui.sourcevalidation">
    <validator
      scope="total"
      class="org.scalaide.play2.templateeditor.sse.validation.ScalaSourceValidator"
      id="org.scalaide.play2.templateeditor.sse.validation.ScalaSourceValidator">
      <contentTypeIdentifier
        id="org.scalaide.play2.templateSource">
        <partitionType id="__template_scala"/>
      </contentTypeIdentifier>
    </validator>
  </extension>
  <extension
    point="org.eclipse.core.filebuffers.annotationModelCreation">
    <factory
      contentTypeId="org.scalaide.play2.templateSource"
      class="org.eclipse.wst.sse.ui.internal.StructuredResourceMarkerAnnotationModelFactory" />
  </extension>
  <!-- Template completion proposals -->
  <extension point="org.eclipse.wst.sse.ui.completionProposal">
    <proposalCategory
      id="org.scalaide.play2.completion.proposalCategory.template">
    </proposalCategory>
    <proposalComputerExtendedActivation
          id="org.eclipse.wst.html.ui.proposalComputer.htmlTags">
       <contentType
             id="org.scalaide.play2.templateSource">
          <partitionType
                id="org.eclipse.wst.html.HTML_DEFAULT">
          </partitionType>
          <partitionType
                id="org.eclipse.wst.html.HTML_COMMENT">
          </partitionType>
          <partitionType
                id="org.eclipse.wst.sse.ST_DEFAULT">
          </partitionType>
       </contentType>
    </proposalComputerExtendedActivation>
    <proposalComputerExtendedActivation
          id="org.eclipse.wst.html.ui.proposalComputer.htmlTemplates">
       <contentType
             id="org.scalaide.play2.templateSource">
          <partitionType
                id="org.eclipse.wst.html.HTML_DEFAULT">
          </partitionType>
          <partitionType
                id="org.eclipse.wst.html.HTML_COMMENT">
          </partitionType>
          <partitionType
                id="org.eclipse.wst.sse.ST_DEFAULT">
          </partitionType>
       </contentType>
    </proposalComputerExtendedActivation>
    <proposalComputerExtendedActivation
          id="org.eclipse.wst.xml.ui.proposalComputer.xmlTags">
       <contentType
             id="org.scalaide.play2.templateSource">
          <partitionType
                id="org.eclipse.wst.xml.XML_DEFAULT">
          </partitionType>
       </contentType>
    </proposalComputerExtendedActivation>
    <proposalComputerExtendedActivation
          id="org.eclipse.wst.xml.ui.proposalComputer.xmlTemplates">
       <contentType
             id="org.scalaide.play2.templateSource">
          <partitionType
                id="org.eclipse.wst.xml.XML_DEFAULT">
          </partitionType>
       </contentType>
    </proposalComputerExtendedActivation>
    <proposalComputerExtendedActivation
          id="org.eclipse.wst.css.ui.proposalComputer.css">
       <contentType
             id="org.scalaide.play2.templateSource">
          <partitionType
                id="org.eclipse.wst.css.STYLE">
          </partitionType>
       </contentType>
    </proposalComputerExtendedActivation>
    <proposalComputerExtendedActivation
          id="org.eclipse.wst.css.ui.proposalComputer.cssTemplates">
       <contentType
             id="org.scalaide.play2.templateSource">
          <partitionType
                id="org.eclipse.wst.css.STYLE">
          </partitionType>
       </contentType>
    </proposalComputerExtendedActivation>
    <proposalComputer
      activate="false"
      categoryId="org.scalaide.play2.completion.proposalCategory.template"
      class="org.scalaide.play2.templateeditor.completion.CompletionProposalComputer"
      id="org.scalaide.play2.completion.proposalComputer.template">
      <contentType id="org.scalaide.play2.templateSource">
        <partitionType id="__template_scala"></partitionType>
      </contentType>
    </proposalComputer>
  </extension>
  <!-- Template and HTML hyperlinking -->
  <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
    <target
      id="org.scalaide.play2.templateSource"
      name="%Template_Source_target_name"/>
    <target
      id="org.eclipse.wst.html.core.htmlsource"
      name="%HTML_Editors_target_name"/>
    <target
      id="org.eclipse.wst.html.SCRIPT"
      name="%hyperlink.target.script.name"/>
    <target
      id="org.eclipse.wst.html.SCRIPT.EVENTHANDLER"
      name="%hyperlink.target.eventhandler.name"/>
  </extension>
  <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
    <hyperlinkDetector
      class="org.scalaide.play2.templateeditor.sse.hyperlink.StructuredTemplateDeclarationHyperlinkDetector"
      id="org.scalaide.play2.templateeditor.sse.hyperlink.StructuredTemplateDeclarationHyperlinkDetector"
      name="%Template_Scala_hyperlink"
      targetId="org.scalaide.play2.templateSource">
    </hyperlinkDetector>
    <hyperlinkDetector
      class="org.scalaide.play2.templateeditor.hyperlink.LocalTemplateHyperlinkComputer"
      id="org.scalaide.play2.templateeditor.hyperlink.LocalTemplateHyperlinkComputer"
      name="%Template_Local_Definition_hyperlink"
      targetId="org.scalaide.play2.templateSource">
    </hyperlinkDetector>
    <hyperlinkDetector
      class="org.eclipse.wst.html.ui.internal.hyperlink.AnchorHyperlinkDetector"
      id="org.eclipse.wst.html.ui.internal.hyperlink.AnchorHyperlinkDetector"
      name="%hyperlinkDetector.anchor.name"
      targetId="org.eclipse.core.runtime.xml">
    </hyperlinkDetector>
  </extension>
    
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.scalaide.play2.properties.PlayPreferences"
            id="org.scala-ide.play2.preferences"
            name="Play">
      </page>
      <page
            category="org.scala-ide.play2.preferences"
            class="org.scalaide.play2.properties.PlayPreferences"
            id="org.scala-ide.play2.preferences.route"
            name="Route">
      </page>
      <page
            category="org.scala-ide.play2.preferences.route"
            class="org.scalaide.play2.routeeditor.properties.RouteSyntaxColoringPreferencePage"
            id="org.scala-ide.play2.preferences.route.syntaxColoring"
            name="Syntax Coloring">
      </page>
      <page
            category="org.scala-ide.play2.preferences"
            class="org.scalaide.play2.properties.PlayPreferences"
            id="org.scala-ide.play2.preferences.template"
            name="Template">
      </page>
      <page
            category="org.scala-ide.play2.preferences.template"
            class="org.scalaide.play2.templateeditor.properties.TemplateSyntaxColoringPreferencePage"
            id="org.scala-ide.play2.preferences.template.syntaxColuring"
            name="Syntax Coloring">
      </page>
      <page
            category="org.scala-ide.play2.preferences.route"
            class="org.scalaide.play2.routeeditor.properties.RouteFormatterPreferencePage"
            id="org.scala-ide.play2.preferences.route.formatter"
            name="Formatter">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.scalaide.play2.routeeditor.properties.RouteColorPreferenceInitializer">
      </initializer>
      <initializer
            class="org.scalaide.play2.templateeditor.properties.TemplateColorPreferenceInitializer">
      </initializer>
      <initializer
            class="org.scalaide.play2.properties.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            describer="org.scalaide.play2.templateeditor.sse.TemplateContentDescriber"
            file-extensions="html"
            id="org.scalaide.play2.templateSource"
            name="Play Template File"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.scala-ide.sdt.core.wizards"
            class="org.scalaide.play2.wizards.NewTemplateWizard"
            finalPerspective="org.scala-ide.sdt.core.perspective"
            icon="icons/play.png"
            id="org.scala-ide.play2.wizards.newTemplate"
            name="Play Template"
            project="false">
         <description>
            Create a Play Template
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.scala-ide.sdt.core.perspective">
         <newWizardShortcut
               id="org.scala-ide.play2.wizards.newTemplate">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Play2 Route Editor"
            id="org.scala-ide.play2.routeeditor.editorScope"
            name="Editing Route Files"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.scala-ide.play2.routeeditor.commands.format"
            contextId="org.scala-ide.play2.routeeditor.editorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F">
      </key>
      <key
            commandId="org.scala-ide.play2.routeeditor.commands.rename"
            contextId="org.scala-ide.play2.routeeditor.editorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+R">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.scala-ide.play2.routeeditor.commands.category"
            name="Route Editor Commands">
      </category>
      <command
            categoryId="org.scala-ide.play2.routeeditor.commands.category"
            defaultHandler="org.scalaide.play2.routeeditor.handlers.Format"
            id="org.scala-ide.play2.routeeditor.commands.format"
            name="Format">
      </command>
      <command
            categoryId="org.scala-ide.play2.routeeditor.commands.category"
            description="Rename part of an URI pattern"
            id="org.scala-ide.play2.routeeditor.commands.rename"
            name="Rename">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.scalaide.play2.util.Play2PropertyTester"
            id="org.scala-ide.play2.isJavaPlayProject"
            namespace="org.scala-ide.play2.properties"
            properties="isPlay2Project"
            type="org.eclipse.jdt.core.IJavaProject">
      </propertyTester>
      <propertyTester
            class="org.scalaide.play2.util.Play2PropertyTester"
            id="org.scala-ide.play2.isPlayProject"
            namespace="org.scala-ide.play2.properties"
            properties="isPlay2Project"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.scalaide.play2.properties.ProjectPropertyPage"
            id="org.scala-ide.play2.projectPropertyPage"
            name="Play2">
         <enabledWhen>
            <and>
               <or>
	               <instanceof
	                     value="org.eclipse.jdt.core.IJavaProject">
	               </instanceof>
	               <instanceof
	                     value="org.eclipse.core.resources.IProject">
	               </instanceof>
               </or>
               <test
                     property="org.scala-ide.play2.properties.isPlay2Project">
               </test>
            </and>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="org.scalaide.play2.quickassist.AddRouteEntryScala"
            id="org.scala-ide.play2.scalaAddRouteEntry"
            name="Add Entry to Route file">
      </quickAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.scalaide.play2.routeeditor.RouteEditor.EditorContext?before=additions">
         <command
               commandId="org.scala-ide.play2.routeeditor.commands.format"
               id="org.scala-ide.play2.menus.rename"
               mnemonic="F">
         </command>
         <menu
               id="org.scala-ide.play2.menus.refactoring"
               label="Refactoring"
               mnemonic="R">
            <command
                  commandId="org.scala-ide.play2.routeeditor.commands.rename"
                  id="org.scala-ide.play2.menus.rename"
                  mnemonic="R">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.editorActions">
     <editorContribution
         targetID="org.scalaide.play2.templateSource"
         id="org.scalaide.play2.templateSource.ruler.actions">
      <action
            label="%AddBookmark.label"
            helpContextId="org.eclipse.ui.bookmark_action_context"
            class="org.eclipse.ui.texteditor.BookmarkRulerAction"
            actionID="RulerDoubleClick"
            id="org.eclipse.ui.texteditor.BookmarkRulerAction"/>
      <action
            label="%SelectRuler.label"
            class="org.eclipse.ui.texteditor.SelectRulerAction"
            actionID="RulerClick"
            id="org.eclipse.ui.texteditor.SelectRulerAction"/>
     </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.scalaide.play2.routeeditor.handlers.LocalRename"
            commandId="org.scala-ide.play2.routeeditor.commands.rename">
      </handler>
   </extension>
   <!-- Enable the FormatHandler for Template Content Type -->
   <!-- TODO: I was expecting this to enable the html formatter to work properly. But it didn't. Need to figure out why -->
   <extension point="org.eclipse.ui.handlers">
     <handler 
       class="org.eclipse.wst.sse.ui.internal.handlers.FormatHandler"
       commandId="org.eclipse.wst.sse.ui.format">
       <activeWhen>
         <reference definitionId="org.scalaide.play2.templateSourceContentType.definition"></reference>
       </activeWhen>
       <enabledWhen>
         <reference definitionId="org.scalaide.play2.templateSourceContentType.definition"></reference>
       </enabledWhen>
     </handler>
   </extension>
   <!-- Set up a definition for Template Content Types -->
   <extension point="org.eclipse.core.expressions.definitions">
     <definition id="org.scalaide.play2.templateSourceContentType.definition">
       <iterate ifEmpty="false">
         <adapt type="org.eclipse.core.resources.IFile">
           <!-- Force property tester to load, should not cause entire plug-in to start -->
           <test property="org.eclipse.wst.sse.core.resources.contentTypeId"
             value="org.scalaide.play2.templateSource" forcePluginActivation="true"/>
         </adapt>
       </iterate>
     </definition>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.scala-ide.play2.error"
            colorPreferenceKey="org.scala-ide.play2.preferences.error.color"
            colorPreferenceValue="153,153,153"
            contributesToHeader="false"
            highlightPreferenceKey="org.scala-ide.play2.preferences.error.highlight"
            highlightPreferenceValue="true"
            icon="icons/play.png"
            includeOnPreferencePage="true"
            label="Template Error"
            overviewRulerPreferenceKey="org.scala-ide.play2.preferences.error.rulers.overview"
            overviewRulerPreferenceValue="false"
            presentationLayer="3"
            symbolicIcon="error"
            textPreferenceKey="org.scala-ide.play2.preferences.error.text"
            textPreferenceValue="true"
            textStylePreferenceKey="org.scala-ide.play2.preferences.error.textStylePreference"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceKey="org.scala-ide.play2.preferences.error.ruler.vertical"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   -->
</plugin>
