<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.scalaide.play2.routeeditor.RouteEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            filenames="route"
            icon="icons/play.png"
            id="org.scalaide.play2.routeeditor.RouteEditor"
            name="Route Editor">
      </editor>
      <editor
            class="org.scalaide.play2.templateeditor.TemplateEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions=".shtml"
            icon="icons/play.png"
            id="org.scalaide.play2.templateeditor.TemplateEditor"
            name="Template Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.scalaide.play2.properties.PlayPreferences"
            id="org.scala-ide.play2.preferences"
            name="Play">
      </page>
      <page
            category="org.scala-ide.play2.preferences"
            class="org.scalaide.play2.properties.PlayPreferences"
            id="org.scala-ide.play2.preferences.route"
            name="Route">
      </page>
      <page
            category="org.scala-ide.play2.preferences.route"
            class="org.scalaide.play2.properties.RouteSyntaxColouringPreferencePage"
            id="org.scala-ide.play2.preferences.route.syntaxColouring"
            name="Syntax Coloring">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.scalaide.play2.routeeditor.RouteColourPreferenceInitializer">
      </initializer>
      <initializer
            class="org.scalaide.play2.templateeditor.TemplateColourPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
