<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="example.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="org.scalaide.play2.SampleAction"
               icon="icons/sample.gif"
               id="org.scala-ide.play2.sampleaction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Scala world">
         </action>
      </actionSet>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.scalaide.play2.routeeditor.RouteEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            filenames="route"
            icon="icons/play.png"
            id="org.scalaide.play2.routeeditor.RouteEditor"
            name="Route Editor">
      </editor>
   </extension>
</plugin>
